.upper {
    height: 400px;
    background-image: url(../assets/cover.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.bar {
    display: inline-flex;
    position: absolute;
    margin-left: 500px;
}

.bar a {
    margin-right: 40px;
    color: rgb(152, 18, 65);
}

.tune {
    position: absolute;
    margin-left: 30px;
    font-family: cursive;
    font-weight: 600;
    font-size: x-large;
    color: rgb(152, 18, 65);
}

h2 {
    font-size: xxx-large;
    font-weight: 800;
    position: absolute;
    left: 650px;
    margin-top: 230px;
    color: rgb(152, 18, 65);
    font-family: monospace;
}

.started {
    background-color: rgb(9, 9, 64);
    color: azure;
    position: absolute;
    right: 30px;
    top: 20px;
}

.conversation {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.lower {
    display: flex;
}

.help {
    margin-left: 50px;
    size: 400px;
}

.ask {
    font-weight: 600;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.see {
    font-weight: 600;
}

.master {
    font-weight: 600;
}

.right {
    margin-left: 400px;
    margin-top: 20px;
}

.submit {
    background-color: rgb(8, 8, 82);
    color: azure;
}